@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Performance Tracker</h1>
    <p class="title">
        Performance Tracker to program opracowany przez naszych specjalistów, który wspiera zarządzanie danymi dotyczącymi przepracowanych godzin oraz aktywności pracowników. 
        Aplikacja umożliwia kontrolowanie efektywności zespołu oraz przeglądanie najlepszych wyników indywidualnej działalności. 
        Upoważnieni pracownicy mogą wprowadzać swoje dane, a także przeglądać ranking swoich osiągnięć.
    </p> <br /> <br />
</div>

<div class="accordion-container">
    <div class="accordion">
        <div data-tab="tab-1" class="accordion__title">
            <h3>IT Specialist</h3>
            <span></span>
        </div>
        <div id="tab-1" class="accordion-content">
            Specjalista IT <br /> <br />
            Specjalista IT odpowiada za wsparcie techniczne i nieprzerwane działanie wszystkich systemów cyfrowych w firmie.
            Zajmuje się instalacją, konfiguracją i aktualizacją oprogramowania oraz zabezpieczeniem danych przed cyberatakami.
            Dzięki jego wysiłkom wszyscy pracownicy mogą efektywnie korzystać z nowoczesnych technologii w swojej pracy.
            Jeśli pojawiają się problemy techniczne, specjalista IT szybko je rozwiązuje, minimalizując przestoje i zwiększając produktywność zespołu.
            Jego praca pomaga firmie rozwijać się poprzez wykorzystanie najnowszych rozwiązań technologicznych.
        </div>
    </div>

    <div class="accordion">
        <div data-tab="tab-2" class="accordion__title">
            <h3>Accountant</h3>
            <span></span>
        </div>
        <div id="tab-2" class="accordion-content">
            Księgowy <br /> <br />
            Księgowy odgrywa kluczową rolę w stabilności finansowej naszej firmy.
            Zajmuje się ewidencją dochodów i wydatków, przygotowywaniem sprawozdań finansowych oraz opłacaniem podatków.
            Dzięki jego dokładności i profesjonalizmowi możemy być pewni, że wszystkie operacje finansowe są zgodne z przepisami.
            Księgowy analizuje również wskaźniki finansowe, pomagając zarządowi podejmować świadome decyzje.
            Jego praca przyczynia się do efektywnego zarządzania zasobami firmy i zapewnia jej bezpieczeństwo finansowe.
        </div>
    </div>

    <div class="accordion">
        <div data-tab="tab-3" class="accordion__title">
            <h3>Cleaner</h3>
            <span></span>
        </div>
        <div id="tab-3" class="accordion-content">
            Sprzątacz <br /> <br />
            Sprzątacz odgrywa ważną rolę w tworzeniu komfortowych i bezpiecznych warunków pracy.
            Każdego dnia dba o czystość w biurach, korytarzach i wspólnych przestrzeniach, zapewniając przyjemną atmosferę dla wszystkich pracowników.
            Dzięki jego staranności w pomieszczeniach zawsze panuje porządek, co pozytywnie wpływa na nastrój i wydajność zespołu.
            Ponadto kontroluje dostępność środków czystości i higieny, co zapewnia komfortowe warunki pracy.
            Jego praca jest nieodzowną częścią sprawnego funkcjonowania naszej firmy.
        </div>
    </div>
</div>

